$primary: #4d4d4d;
$secondary: #9e9e9e;
$accent: #ff6633;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #9c27b0;
$warning: #f2c037;

html {
  background-color: black;
  min-height: calc(100% + env(safe-area-inset-top));
  //padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
